@charset "utf-8";
/* CSS Document */
.home{
	background: url("../images/cover.jpg");
	background-size: cover;
	height: cover;
}
.nav{
		height:60px;
		background:green;
			
	}
.nav div{
		display: inline-block;
		position:absolute;
		left:0;
		padding:15px;
		font-size:20px;
		color:white;
		}
.nav ul{
		position:absolute;
		right:5px;
}
.nav ul li{
			display: inline-block;
			}
.nav ul li a{
			color:white;
			padding:5px;
			font-size:12px;
}
h1, h2, h3, h4, h5, h6, b{
	text-transform: capitalize;
}
a{
	text-decoration: none;
	text-transform: capitalize;
}
a:hover{
		background: teal;}
	a:active{
	color:red;}
	a:link{
	color:blue;}
	a:visited{
	color:black;}
textarea:hover{
		background: lightgrey;}
input:hover{
		background: powderblue;}
button:hover{
		background: skyblue;}


.home .text-container{
	text-align: center;
	display: inline-block;
	align-items: center;
	justify-content: center;
	height: 90vh;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #603;
	position: relative;
}
.home .text-container .small{
	color:#ffffff;
	font-weight:700;
	padding: 80px;
	
	background: linear-gradient( 135deg, red, orange, yellow, green, blue, indigo, violet);
	border: solid 1px skyblue;
	border-radius: 480px 240px 480px 240px;
	text-align:center;
	
	
}
.home h2{
	text-align: center;
	color: purple;
	align-items: justify;
}
.home img{
	border: solid 0px skyblue;
	border-radius: 0;
	float:inherit;
	padding: 0px;
	margin: 0px;
	}
.home .gallery{
	display:inline-block;
	}
.educ{  text-align: center;
	background: linear-gradient(45deg, green, white, yellow);
}
.education{
	font-size:26px; 
	font-family:"Comic Sans MS", cursive;
	color:black;
	text-align: center;
	border: dotted 1px lightgreen;
	background: linear-gradient(45deg, skyblue, white, grey, yellow, lightgreen);
	margin: 0px;
	}
.education img{
	float: left;
	border-radius: 50px;
}
.education li{
		clear: left;
		text-align: left;
}
.education #more{
	display: none;
}
.about-content{
	font-size: 26px;
	color: black;
	text-align:center;
	margin: 150px auto 0 auto;
	padding:70px;
	border:solid 3px gray;
border-radius:1000px 1000px 0 0;
	}
.blur{text-align:center;
					color:indigo;
					font:"Times New Roman", Times, serif;
					filter: blur(1px);
					transform: rotate(358deg);
}
.about-content h1{text-align:center;
					color:indigo;
					font:"Times New Roman", Times, serif;
					filter: blur(1px);
					transform: rotate(355deg);
}
.about-content p{text-align:justify;
  			font:"Lucida Console", Monaco, monospace}
.about-content h2{text-align:center; color:orange;}
.service-content{margin:80px auto 0 auto;
							text-align:center;
}

.about-content img{
	border: solid 1px skyblue;
	border-radius: 80px 70px 80px 70px;
	
	
}
.card-container{
	text-aling: left;
}
.card-container h1{
	font-size:36px; 
	font-family:"Comic Sans MS", cursive;
	color:indigo;
	text-align: left;
	border: dotted 1px lightgreen;
	background: linear-gradient(135deg, powderblue, white, green);
	background-size:auto;
	margin: 0px;
}

.card-container  p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
.card-container .health p{
	text-align: left;
	}
.card-container .health img{
	float: left;
	border-radius: 30%;
	margin: 0 20px 20px 0;
	}
.card-container .health .gloria{
	clear: left;
}
h2{
	background: linear-gradient(lightcyan, skyblue, deepblue);
	padding:40px 40px 50px 50px;
}
.card-container .health{
	
	background: linear-gradient( 45deg, skyblue, lightgreen, white);
	text-align:center;
margin: 0px;
	
}
.contact{
	background: url("../images/cover.jpg");
	background-size: cover;
}
.contact .contact-content h1{
	color: indigo;
	text-align: center;
}
.contact .contact-content p{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}

.contact .contact-content .writers{
	text-align: left;
width: 40%;
color: white;

}
.contact .contact-content .writers img{
	float: left;
border: 0px solid blue;
border-radius: 0 50px 0 50px;
margin: 0 30px 0 0;
}
.leisure{
	background: url("../images/cover.jpg");
	background-size: cover;
	height: cover;
	text-align: center;
	justify-content: center;
}
.leisure h3{
	text-align: center;
	font-weight: bold;
	background: linear-gradient(45deg, skyblue, powderblue, lightgreen, white);
	width: 20%;
	padding: 10px;
	margin: 10px;
}
.leisure p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
}
.leisure img{
	float: top;
	border: opx solid green;
	border-radius: 20px;
	margin: 20px 50px 50px 0;
}
.footer{
	background: url("../images/cover.jpg");
	align-items: center;
	text-align:center;
	padding: 5px;
}
